.box {
  height: 300px;
  width: 400px;
  background-color: pink;

  animation-name: fontAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 1;
  animation-iteration-count: 3;
  animation-direction: normal;
}

@keyframes fontAnimation {
  from {
    font-size: 20px;
  } to {
    font-size: 40px
  }
}